/* Universal reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  font-size: clamp(16px, 2vw, 20px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #add8e6;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

:disabled {
  pointer-events: none;
  opacity: 0.5;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

:focus,
:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

a,
button,
input,
textarea,
select {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 0;
}

img,
button,
input,
select,
textarea {
  vertical-align: middle;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/* PAGE SPECIFIC STYLES */
h1 {
  font-family: Nunito, Roboto, sans-serif;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

p,
form {
  font-family: Poppins, 'Open Sans', 'Helvetica Neue';
}

form {
  margin-bottom: 10px;
}

input {
  border: 1px solid #000;
  padding: 2px;
}

button {
  margin-left: 10px;
  background-color: #98fb98;
  padding: 10px;
  border-radius: 10px;
}

.container,
.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 75%;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px;
  width: 75%;
  max-height: 500px;
  overflow-y: auto;
}

.forecast-item,
.weather-item,
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}
